@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root{
    --Color-Green: hsl(75, 94%, 57%);
    --Color-White: hsl(0, 0%, 100%);
    --Color-Grey-700: hsl(0, 0%, 20%);
    --Color-Grey-800: hsl(0, 0%, 12%);
    --Color-Grey-900: hsl(0, 0%, 8%);

    --main-font: 'Inter', sans-serif;
    --font-size: 14px;

    --Weight-regular: 400;
    --Weight-semibold: 600;
    --Weight-bold: 700;

}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--main-font);
    font-size: var(--font-size);
    font-weight: var(--Weight-regular);
}

body, .SocialLinksProfile, .profile, .social-networks{
    display: flex;
    align-items: center;
    flex-direction: column;
}

body{
    background-color: var(--Color-Grey-900);
    color: var(--Color-White);
    height: 100vh;
    justify-content: center;
}

.SocialLinksProfile{
    background-color: var(--Color-Grey-800);
    border-radius: 10px;
    padding: 1rem;
    max-width: 300px;
    justify-content: center;
}

.profile-img{
    width: 100px;
    border-radius: 50%;
    margin: 10px;
}

.profile-name{
    font-size: 1.6rem;
    font-weight: var(--Weight-semibold);
    letter-spacing: 0.05rem;
    margin-top: 15px;
    margin-bottom: 8px;
}

.profile-location{
    color: var(--Color-Green);
    font-weight: var(--Weight-semibold);
    font-size: 1rem;
    margin-bottom: 10px;
}

.profesion{
    margin: 15px 0px;

    & .profesion-description{
        font-weight: 300;
    }
}

.social-networks-links{
    text-decoration: none;
    color: var(--Color-White);
    font-weight: var(--Weight-bold);
    background-color: var(--Color-Grey-700);
    width: 250px;
    padding: 0.8rem;
    border-radius: 5px;
    text-align: center;
    margin: 0.45rem 0;
}

.social-networks-links:hover{
    background-color: var(--Color-Green);
    color: black;
}







.attribution { 
    font-size: 5px;
    text-align: center; 
}

.attribution a { 
    font-size: 5px;
    color: hsl(228, 45%, 44%); 
    text-decoration: none;
}